fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

alembic

pydantic
pydantic-settings

python-dotenv

python-jose[cryptography]

passlib[bcrypt]

python-multipart

redis

httpx

sqlalchemy==2.0.41
psycopg2-binary==2.9.10
alembic==1.16.4